 
html {
	 height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     font: normal 16px/1 Arial Black, Gadget, sans-serif;
}
 body 
 {
    background: -webkit-linear-gradient(-90deg, rgba(237,237,237,1) 0, rgba(209,209,209,1) 100%);
 	background: -moz-linear-gradient(180deg, rgba(237,237,237,1) 0, rgba(209,209,209,1) 100%);
 	background: linear-gradient(180deg, rgba(237,237,237,1) 0, rgba(209,209,209,1) 100%);
 }

 h1
 {
	text-align: center;
 	color: rgba(25,25,25,0.8);
 	font: normal 36px/1  Gadget, sans-serif;
  text-shadow: 0px 0px 20px rgba(255,255,200,0.9);
  #text-shadow: 0px 0px 2px rgba(255,255,200,1.0);
 	#text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
 }



.gradbox
{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 2px;
  padding: 9px;
  border: none; 
  color: rgba(40,40,40,0.7);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: linear-gradient(180deg, rgba(229,229,229,0.8) 0, rgba(196,196,196,0.7) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 1px 1px 0 0 rgba(255,255,255,0.5) inset, 2px 2px 6px 1px rgba(0,0,0,0.55) ;
  box-shadow: 1px 1px 0 0 rgba(255,255,255,0.5) inset, 2px 2px 6px 1px rgba(0,0,0,0.55) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.84) 
 

  transition-duration: 0.8s;  
  -webkit-transition-duration: 0.8s;
  transition-property: box-shadow;
  -webkit-transition-property: box-shadow;

  transition-property:background;

  text-wrap:none;
}

.scriptlistbox{width:300px;float:right;}
.scriptlist{margin:2px;width:98%;height:98%;overflow: auto;}

.sensors { width: 380px;}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sensors
{
  float:left;
  position:absolute;  
  left:5px;
  top:5px;

}

#scriptlistbox
{
  
  position:absolute;  
  right:5px;
  top:5px;
  height:20%;
}


.listbox
{
  width:100%;
  height:100%;
}

.selected_list_item
{
  background-color:rgba(100,80,80,0.8);  
}

.listbox ul
{
background-color:rgba(50,50,80,0.8);
}

.listbox ul:select
{
  background-color:rgba(100,80,80,0.8);
}

#speedslider
{
  left:5px;
  top:200px;
}

.radiobutton
{
  top:5px;
  margin:0px, 0px, 0px, 0px;
}

.hangleft
{
  float:left;
  position:absolute;  
}

.gradboxred
{
	background: linear-gradient(180deg, rgba(229,100,100,0.8) 0, rgba(196,100,100,0.7) 100%);
}

.gradboxgreen
{
	background: linear-gradient(180deg, rgba(100,229,100,10.8) 0, rgba(100,229,100,0.7) 100%);
}

.gradboxblue
{
	background: linear-gradient(180deg, rgba(100,100,196,0.8) 0, rgba(100,100,196,0.7) 100%);
}

.gradboxglow:hover,.gradboxglow:focus, .gradboxglow:active {
	cursor:pointer;
    box-shadow: 1px 1px 0 0 rgba(255,255,255,0.5) inset, 2px 2px 10px 7px rgba(255,255,200,0.55) ;
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,200,0.7) 100%);
}



#controlbuttons
{  
  position:absolute;
  bottom:0;
	width:50%;
  left:0%;
  margin:auto;
  min-width: 450px;
  float:b;
}

.reload
{
  
}

.dragging
{

}

.bigimage
{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 512px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 512px) { /* Specific to this particular image */
  .bigimage {
    left: 50%;
    margin-left: -256px;   /* 50% */
  }
}



.canvaspair
{
  position: relative; 
  display:inline-block;
  white-space: nowrap; 
}

.colourpicker_inner
{
 position: relative; 
}

.colourpicker
{
  position: absolute;
  right: 20px;
  bottom:20px;
  padding:3px;

   z-index: 0

}

#colourpick_reticle
{
  
   left:0px;
   top:0px;
   width: 16px;
   height: 16px;
   background-image: url("reticle.png");
   background-size: contain;
   position: absolute;
   z-index: 10;
   pointer-events: none;
}

#colourpick_reticle_vert
{
  
   left:0px;
   top:0px;
   width: 16px;
   height: 4px;
   background-image: url("horizbar.png");
   background-size: contain;
   position: absolute;
   z-index: 11;
   pointer-events: none;
}

.sliderinner
{

   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   width: 10px;
   height: 100px;
   position: relative;
   border: 1px solid rgba(0.2,0.2,0.2,0.2);
   -webkit-border-radius: 10px;
   border-radius: 10px;
   font: normal 16px/1 "Times New Roman", Times, serif;
   color: rgba(255,255,255,1);
   text-align: center;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis;
   background: rgba(102,102,102,1);
   -webkit-box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.5) inset;
   box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.5) inset;
}

.sliderbutton
{
	background: linear-gradient(180deg, rgba(229,229,229,0.8) 0, rgba(196,196,196,0.7) 100%);
	border-radius: 10px;
	width: 20px;
	height: 20px;
	left:-5px;
    top:-10px;
	position:relative;
	box-shadow: 1px 1px 0 0 rgba(255,255,255,0.5) inset, 2px 2px 6px 1px rgba(0,0,0,0.55) ;
}

.squarebox
{
	min-width: 90px;
	width:20%;
	height:20%;
}
.crvboxtl
{
  -webkit-border-radius: 13px 0 0 / 13px 8px 8px;
  border-radius: 13px 0 0 / 13px 8px 8px;
}

.crvboxtr
{
  -webkit-border-radius: 0 13px 0 0 / 0 8px 8px;
  border-radius: 0 13px 0 0 / 0 8px 8px;
  text-align: right;
}


.abpos
{
	position: absolute;
}

.crvboxbr
{
  -webkit-border-radius: 0 0 13px 0/ 13px 8px 8px;
  border-radius: 0 0 13px  0 / 13px 8px 8px;
}

.crvboxbl
{
  -webkit-border-radius: 0  0 0 13px / 0 0 0 8px;
  border-radius: 0 0 0 13px / 0 0 0 8px ;
  text-align: right;
}

.crvbox
{
   border-radius: 10px;
}



.sliderbutton:hover,.sliderbutton:focus, .sliderbutton:active 
{
	cursor:pointer;
	background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,200,0.7) 100%);
}

#the-string {
  display: none;

}